:root {
  --primary-color: #ce6455;
  --secondary-color: #eeeeee;
  --background-color: #fdfdfd;
  --text-color1: #1f1f1f;
  --text-color2: #000000;
}

* {
  margin: 0;
  padding: 0;
  /* For webkit */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif !important;
}

blockquote {
  padding: 13px 30px 12px 30px;
  margin-top: 60px;
  margin-bottom: 40px;
  border-left: solid 5px var(--primary-color);
}

blockquote p {
  padding-bottom: 0 !important;
  line-height: 33px !important;
}

p, main ul {
  padding-bottom: 31.25px;
  font-size: 24px;
  line-height: 1.6em !important;
  font-weight: 400;
}

main ul {
  padding-left: 1em;
}

strong {
  font-weight: 700;
}

.justify {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.adjust {
  margin-left: auto;
  margin-right: auto;
  padding-left: 73px;
  padding-right: 73px;
}

.title {
  font-weight: 400;
  font-size: 50px !important;
}

h1,
h2,
.title {
  font-family: 'Fraunces', serif !important;
}
.subtitle {
  font-family: "DM Mono", monospace !important;
}

h1 {
  font-size: 50px;
  padding-bottom: 2.6rem;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

.subtitle {
  font-family: "DM Mono", monospace !important;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

main .subtitle, header .subtitle {
  text-transform: uppercase;
}

p,
.project-brief,
.project-detail,
a {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400;
}

/* Project Header */
.project-bg {
  background-color: var(--secondary-color);
  margin-bottom: 60px;
}

.grid2x1 {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 36px;
  position: relative;
  max-width: revert !important;
  padding: 58px 60px !important;
}

.project-title {
  margin-top: auto;
  margin-bottom: auto;
}

.project-img-frame {
  position: relative;
  height: 360px;
  width: 100%;
}

.project-img-frame img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-margin {
  margin-left: 10%;
  margin-right: 10%;
}

.grid4x4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.quarter {
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 31px 59px;
}

.project-margin h1, .project-margin h2 {
  padding-top: 60px;
  padding-bottom: 19px;
}

.methodologies h1{
  padding: 0 !important;
  color: var(--primary-color);
}

.methodologies h2 {
  padding-top: 0 !important;
  padding-bottom: 27px;
  font-weight: 700;
  color: var(--primary-color);
}
/* End of project header */

/* Image Modal */
.modal {
  z-index:1;
  display:none;
  position:fixed !important;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: none;
  background-color: rgba(255, 255, 255, 0.953);
  margin: 0 !important;
  animation: zoom;
}

.modal .figure-frame, .modal .figure-info, .close{
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal .figure-frame {
  width: auto !important;
  height: 90% !important;
}

.modal .figure-frame img {
  object-fit: contain !important;
}

.modal .figure-info {
  position: fixed;
  bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
}


.close {
  position: absolute;
  top: 14px;
  right: 20%;
  font-size: 40px;
}

.close:hover, .close:focus {
  cursor: pointer;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
/* End of Image Modal */

/* Image Frame */
.figure {
  position: relative;
}

.figure-frame {
  width: 100%;
}

.figure-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure-info p{
  font-size: 18px !important;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
}

/* End of image frame */

/* Style theme */
main a, footer a {
  color: var(--primary-color);
  box-shadow: inset 0 0 0 0 var(--primary-color);
  padding: 0 0.1rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

main a:hover, footer a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 var(--primary-color);
}

.wrapper {
  color: revert ;
  box-shadow: revert ;
  padding: revert ;
  transition: revert ;
}

/* Navigation Bar Section*/
.nav-logo {
  text-decoration: none;
  color: var(--text-color1);
  font-size: 45px;
  font-weight: 600 !important;
  padding: 17px 22px;
  margin: 17px 51px;
}

.navlink {
  font-weight: 500;
}
.nav-active {
  font-weight: 600;
}

.nav-logo,
.navlink {
  background-color: white;
  outline: none;
  outline-offset: 0px;
  border-radius: 10px;
  transition-property: background-color, outline, outline-offset;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.nav-logo:active,
.mainnav li a:active {
  background-color: var(--secondary-color);
  outline: dotted 2px var(--text-color1);
  outline-offset: 5px;
  z-index: 1;
}

.navcontent {
  display: flex;
  justify-content: space-between;
}

.mainnav {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  list-style: none;
  gap: 0.5em;
  padding-right: 63px;
}

.mainnav li a {
  text-decoration: none;
  color: var(--text-color1);
  padding: 17px 10px;
}
/* End of Navigation Bar */

.intro {
  max-width: 927px;
  margin-left: 0 !important;
  padding-top: 115px;
}

.intro h1 {
  font-size: 60px;
  font-weight: 700;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 92px;
  padding-top: 115px;
}

.wrapper {
  height: 475px;
  position: relative;
  color: white;
}

.wrapper div {
  padding: 62px;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-brief,
.project-detail {
  display: grid;
  align-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  object-fit: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.project-brief {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.38, 0.41, 0.27, 1);
}

.project-detail {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.38, 0.41, 0.27, 1);
}

.wrapper:hover .project-detail {
  opacity: 1;
  bottom: 0;
}

.wrapper:hover .project-brief {
  opacity: 0;
}

.wrapper:active {
  outline: dotted 2px var(--text-color1);
  outline-offset: 5px;
}

footer {
  display: grid;
  justify-content: center;
  padding-top: 147px;
  padding-bottom: 64px;
}

/* About page */
.split-into-2-columns {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  padding-top: 152px;
  grid-gap: 86px;
}

.img-side {
  position: relative;
}

.img-frame {
  width: 100%;
  height: 603px;
}

.img-frame img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.quote-box {
  position: absolute;
  bottom: -80px;
  left: -10%;
  max-width: 391px !important;
  background-color: var(--secondary-color);
  border-left: 0px !important;
}

.text-side {
  margin-top: auto;
  margin-bottom: auto;
}
/* end */

@media screen and (max-width: 771px) {
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 623px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  p {
    font-size: 18px !important;
  }

  .subtitle {
    font-size: 20px;
  }
  

  .wrapper div {
    padding: 10% !important;
  }

  .navcontent {
    flex-direction: column;
    padding-top: 10% !important;
  }
  .mainnav {
    margin: 0;
  }

  .adjust,
  .navcontent {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .nav-logo {
    margin: 0;
    padding: 0;
  }

  .mainnav li a {
    padding: 0;
  }

  .project-brief,
  .project-detail {
    font-size: revert !important;
    transition: all 150ms;
  }

  .project-brief {
    height: 30%;
    top: 0;
    border-bottom: dotted 2px white ;
  }

  .project-detail {
    height: 70%;
    opacity: 1;
  }

  .wrapper:hover .project-detail{
    height: 100%;
  }

  .grid-two-columns {
    position: relative;
    padding-top: 10% !important;
  }

  .split-into-2-columns {
    grid-template-columns: 1fr;
  }

}
