<div>
    <div class="justify">
        <div class="intro adjust">
            <h1>Xin chao! My name is Linh.</h1>
            <div class="text-box">
                <p>I’m a design researcher and advocate.</p>
                <p>
                    I do research to create inclusive and accessible design. As I
                    work on my crafts, I strive to practice and hone technical
                    skills that enable me to learn and reimagine our relationships
                    with our environments, both digital and physical.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>